@import './icons.css';

:root {
  --primary: #00B050;
  --white: #ffffff;
  --gray10: #B3B3B3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
}

body {
  background: var(--primary);
}

button {
  font-size: 40px;
  color: green;
}
button:hover {
  color: black;
}